body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
  margin-left: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  margin-bottom: 2rem;
}

form div {
  width: 100%;
  margin-bottom: 1rem;
}

input[type="text"],
textarea {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #005F6B;
}

.output-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

#output {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: monospace;
  background-color: #fff;
  box-sizing: border-box;
  white-space: pre-line;
  overflow: auto;
}

footer {
  margin-top: auto;
  background-color: #f2f2f2;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 响应式设计 */
@media only screen and (max-width: 768px) {
  form, .output-wrapper {
    padding: 1rem;
    box-shadow: none;
  }

  input[type="text"], 
  textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
